@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Account</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/node_modules/element-ui/lib/theme-default/index.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <h1>账户管理系统</h1>
    </header>

    <div id="main">        
        <div id="sideBar">
            <el-menu class="el-menu--dark" v-on:select="menuSelected">
                <el-submenu index="costManagement">
                    <template slot="title">
                        消费管理
                    </template>
                    <el-menu-item index="manifests">日消费明细</el-menu-item>
                    <el-menu-item index="daily">日消费清单</el-menu-item>
                    <el-menu-item index="monthly">月消费清单</el-menu-item>
                    <el-menu-item index="yearly">年消费清单</el-menu-item>
                </el-submenu>
                <el-submenu index="systemManagement">
                    <template slot="title">
                        系统管理
                    </template>
                    <el-menu-item index="userManagement">用户管理</el-menu-item>
                </el-submenu>
            </el-menu>
        </div> 
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <footer>
        <h1>Copyright@GuoKun</h1>
    </footer>

    <environment names="Development">
        <script src="~/lib/node_modules/vue/dist/vue.min.js"></script>
        <script src="~/lib/node_modules/element-ui/lib/index.js"></script>
        <script src="~/lib/node_modules/axios/dist/axios.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>*@
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
